body{
    font-family: Refinery-25,sans-serif;
    background-color: black;
    color:yellow;
}
.formulario{
    width: 300px;
    padding:15px;
    padding-right: 5px;
    border-radius: 20px;
    border:2px solid #fcee0a;
    margin:auto;
    margin-right:50px;
    margin-left: 50px;
}
.divform{
    width: 100px;
}
.divform > input{
    margin: 20px 20px;
    color: #fcee0a;
    background-color: transparent;
    outline-style: none;
    border:none;
    outline:none;
    border-bottom: 2px solid #fcee0a;
}
.divform > label{
    margin-left:20px;
    font-size: 20;
    font-weight: bold;
}
header{
    background: black;
    display:flex;
    justify-content: space-evenly;
    justify-items: center;
    margin: auto 0px 20px;
    color: #fcee0a;
}
header > h1{
    border: 2px solid #fcee0a;
    padding: 5px;
    border-radius: 10px;
}
main{
    display:flex;
    align-items: column;
}
.foto{
    width: 95%;
    height: 100%;
    border-radius: 15px;
}
footer{
    line-height: 1.15;
    font-family: BlenderProBook,sans-serif;
    font-weight: bold;
    background: #fcee0a;
    position: relative;
    margin-top: 0;
    border-top: none;
    border-radius: 10px;
}
ul{
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    color:black;
    padding: 20px 20px;
}
a:link, a:visited,  a:hover, a:active{
    text-decoration:none;
    color:black;
}
input[type="submit"]{
    background-color: black;
    color: #fcee0a;
    border: 2px solid #fcee0a;
    border-radius: 5px;
    margin-left: 60px;
    height: 40px;
    width: 100px;
    font-weight: bold;
}
input[type="submit"]:hover{
    background-color: #fcee0a;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 60px;
    height: 40px;
    width: 100px;
}
h1>a:link, h1>a:visited, h1>a:active{
    text-decoration: none;
    color:#fcee0a;
}
.nav:hover{
    background-color: #fcee0a;
    color:black;
}
.nav>a:hover{
    color:black;
}
label>a:hover{
    text-decoration-line: underline;
    color:#fcee0a;
}
.pregunta{
    width: 300px;
    margin-left:25px;
    font-weight: bold;
}
.formulario2{
    display:none;
}
