@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
*{
    font-family: 'Marcellus SC', serif;
}
body{
    background-color: black;
    color:#d8a14d;
}
.contenedor{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-evenly;
}
.centrado{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 10px auto;
}
footer>span{
    font-weight: bold;
    font-size:large;
    position: relative;
    top: 280px;
}
#botoncentrado{
    color:#d8a14d;
    border:2px solid #d8a14d;
    border-radius: 10px;
    background-color:black;
    margin-top: 100px;
}
#botoncentrado:hover{
    background-color:#d8a14d;
    color:black;
    font-weight: bold;
}
.carta{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-between;
    margin:5px auto;
    border:2px solid #d8a14d;
    border-radius: 5px;
    padding:5px;
}
#botoncomprar{
    color:#d8a14d;
    border:2px solid #d8a14d;
    border-radius: 10px;
    background-color:black;
}
#botoncomprar:hover{
    background-color:#d8a14d;
    color:black;
    font-weight: bold;
}
.logo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
}
ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-evenly;
    align-items: center;
    margin: auto;
}
a:link, a:visited,  a:hover, a:active{
    text-decoration:none;
    color:#d8a14d;
}
footer{
    margin-top:100px;
}
hr{
    color:#d8a14d;
}

