$azul:blue;
$blanco:white;
$rojo:red;
$verde:green;
$center:center;
$auto:auto;
$pixeles:5px;

header{
    background-color:$azul;
    color:$blanco;
    text-align: $center;
    padding:$pixeles;
}
#titulo{
    background-color:$verde;
    text-align: $center;
    color:$rojo;
}
#tabla{
    margin:$auto;
}